.account-menu {
  padding: 40px 20px;
  border-radius: 4px;
  background-color: $white;
  width: 311px;

  &__items {
    &:nth-child(2) {
      padding: 20px 0;
      margin: 20px 0;
      border-top: 1px solid #dee2e7;
      border-bottom: 1px solid #dee2e7;
    }
  }

  &__item {
    @extend %flexCenterStart;
    column-gap: 8px;
    padding: 11px;
    border-radius: 4px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    svg {
      @include sizes(20px, 20px);
      fill: $black;
    }

    span {
      @extend %regular16;
    }

    &:hover {
      svg {
        fill: $bluePrimary;
      }

      span {
        color: $bluePrimary;
      }
    }

    &.active {
      background-color: #e8f0ff;

      svg {
        fill: $bluePrimary;
      }

      span {
        color: $bluePrimary;
      }
    }
  }
}
