.header {
  @extend %flexColumn;
  background-color: $white;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  transition: background 0.5s ease-in;

  * {
    color: $black;
    @extend %regular16;
    transition:
      color 0.25s ease,
      stroke 0.25s ease,
      fill 0.25s ease,
      border 0.25s ease,
      opacity 0.25s ease,
      visibility 0.25s ease;
  }

  svg use {
    stroke: $black;
  }

  button:not(.dropdown__btn):hover,
  a:not(.header-top__social):hover {
    color: $blueHover;

    svg use {
      stroke: $blueHover;
    }

    p {
      color: $blueHover;
    }
  }

  &-top,
  &-bottom {
    border-bottom: 1px solid $inputGreyStroke;
  }

  &-top__container {
    @extend %flexCenterStart;
  }

  &-top__logo {
    flex-shrink: 0;
    position: relative;
    @include sizes(235px, 64px);
    margin-right: 20px;

    a {
      @extend %fullSize;
      position: absolute;
      @extend %visible;

      &.header-top__logo--transparent {
        @extend %hidden;
      }
    }
  }

  &-top__content {
    @extend %flexCenterBetween;
    border-left: 1px solid $inputGreyStroke;
    padding: 16px 0;
  }

  &-bottom {
    padding: 16px 0;
  }

  &-bottom__container {
    @extend %flexCenterBetween;
  }

  &-top__phone {
    @extend %flexColumn;
    row-gap: 4px;
    margin-left: 24px;
  }

  &-top__content {
    width: 100%;
  }

  &-top__panel {
    @extend %flexCenterBetween;
    column-gap: 32px;
  }

  &-top__socials {
    @extend %flexCenterBetween;
    column-gap: 4px;

    svg use {
      fill: $black;
      stroke: none;
    }

    a {
      @include sizes(32px, 32px);

      &:hover {
        svg use {
          fill: $blueHover;
        }
      }
    }
  }

  &-top__btns {
    @extend %flexCenterBetween;
    column-gap: 32px;
  }

  &-top__btns-search {
    @include sizes(24px, 24px);
    flex-shrink: 0;
  }

  &-top__dropdown {
    .dropdown {
      &__content {
        @include sizes(auto, auto);
      }

      &__value {
        @extend %medium18;
        flex-shrink: 0;
      }

      &__header {
        align-items: baseline;
      }

      &__btn {
        @include sizes(12px, 12px);
      }
    }
  }

  &-bottom__links,
  &-bottom__list {
    @extend %flexCenterStart;
    column-gap: 32px;
  }

  &-bottom__btn-burg {
    @include sizes(32px, 32px);
  }

  &-bottom__btns {
    @extend %flexCenterStart;
    column-gap: 40px;
  }

  &-bottom__btn {
    @extend %flexCenterStart;
    column-gap: 8px;

    svg {
      @include sizes(24px, 24px);
    }
  }
}

.header--transparent {
  background-color: transparent;

  * {
    color: $white;
  }

  svg use {
    stroke: $white;
  }

  .header {
    &-top__logo {
      a {
        @extend %hidden;

        &.header-top__logo--transparent {
          @extend %visible;
        }
      }
    }

    &-top__socials {
      svg use {
        fill: $white;
        stroke: none;
      }
    }
  }

  .btn-sec {
    border-color: $white;

    span {
      color: $white;
    }
  }
}

@media screen and (max-width: $laptop) {
  .header {
    &-bottom__links,
    &-bottom__list {
      column-gap: 24px;
    }

    &-bottom__list li {
      &:nth-child(2),
      &:nth-child(6) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .header {
    &-bottom__menu,
    &-top__socials {
      display: none;
    }

    &-top__logo {
      @include sizes(39px, 62px);
    }

    &-bottom__btns {
      column-gap: 24px;
    }
  }
}

@media screen and (max-width: $mob) {
  .header {
    &-bottom,
    &-top__panel {
      display: none;
    }

    &-top__container {
      padding: 16px 0;
    }

    &-top__logo {
      margin: 0;
    }

    &-top__content {
      justify-content: center;
      padding: 0;
      border: 0;
    }

    &-top__phone {
      margin: 0;
      align-items: center;
    }

    &-top__burger {
      @include sizes(32px, 32px);
      flex-shrink: 0;
    }
  }
}
