<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__top">
        <a href="./main.html" class="footer__logo logo">
          <picture>
            <source media="(min-width: 1365px)" srcset="@img/icons/logo.svg" />
            <source media="(max-width: 1366px)" srcset="@img/icons/logo-sm.svg" />
            <img src="@img/icons/logo.svg" alt="logo" />
          </picture>
        </a>
        <div class="footer__info">
          <div class="footer__info-block">
            <p class="footer__info-title">Email</p>
            <a href="mailto:investsaratov@mai.ru" class="footer__info-link">investsaratov@mai.ru</a>
          </div>
          <div class="footer__info-block">
            <p class="footer__info-title">Телефон</p>
            <a href="tel:+78452695262" class="footer__info-link">+7 (8452) 69-52-62</a>
          </div>
          <div class="footer__info-block">
            <p class="footer__info-title">Социальные сети</p>
            <div class="footer__info-socials">
              <a href="#">
                <svg width="20" height="20">
                  <use xlink:href="@img/icons/icons.svg#tg"></use>
                </svg>
              </a>
              <a href="#">
                <svg width="20" height="20">
                  <use xlink:href="@img/icons/icons.svg#odnok"></use>
                </svg>
              </a>
              <a href="#">
                <svg width="20" height="20">
                  <use xlink:href="@img/icons/icons.svg#vk"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="footer__info-block">
            <p class="footer__info-title">Режим работы</p>
            <p class="footer__info-link">с 9:00 до 18:00 пн-пт</p>
          </div>
        </div>
      </div>
      <div class="footer__center">
        <div class="footer__lists">
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>О регионе</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-white-down"></use>
              </svg>
            </div>
            <ul class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">Расположение</a>
              </li>
              <li class="footer__item">
                <a href="#">Статистика региона</a>
              </li>
              <li class="footer__item">
                <a href="#">Социально-экономическое развитие</a>
              </li>
              <li class="footer__item">
                <a href="#">Стратегия</a>
              </li>
              <li class="footer__item">
                <a href="#">Истории успеха</a>
              </li>
              <li class="footer__item">
                <a href="#">Муниципальные образования</a>
              </li>
              <li class="footer__item">
                <a href="#">Инфраструктурные проекты</a>
              </li>
            </ul>
          </div>
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>Инвестору</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-white-down"></use>
              </svg>
            </div>
            <ul class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">Заявка инвестора</a>
              </li>
              <li class="footer__item">
                <a href="#">Корпорация развития</a>
              </li>
              <li class="footer__item">
                <a href="#">Инвестиционный комитет</a>
              </li>
              <li class="footer__item">
                <a href="#">Клуб стратегических инициатив</a>
              </li>
              <li class="footer__item">
                <a href="#">Инвестиции в туризм</a>
              </li>
              <li class="footer__item">
                <a href="#">Законодательство</a>
              </li>
              <li class="footer__item">
                <a href="#">Требуется инвестор</a>
              </li>
              <li class="footer__item">
                <a href="#">Кадры</a>
              </li>
              <li class="footer__item">
                <a href="#">План создания объектов</a>
              </li>
              <li class="footer__item">
                <a href="#">Опросы</a>
              </li>
            </ul>
          </div>
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>Поддержка</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-white-down"></use>
              </svg>
            </div>
            <ul class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">Единое окно</a>
              </li>
              <li class="footer__item">
                <a href="#">Помощь инвестору</a>
              </li>
              <li class="footer__item">
                <a href="#">Налоговые льготы</a>
              </li>
              <li class="footer__item">
                <a href="#">Субсидии</a>
              </li>
              <li class="footer__item">
                <a href="#">СПИК 2.0</a>
              </li>
              <li class="footer__item">
                <a href="#">Инфраструктура поддержки</a>
              </li>
              <li class="footer__item">
                <a href="#">Инвестиционный договор</a>
              </li>
              <li class="footer__item">
                <a href="#">Региональный инвестстандарт</a>
              </li>
              <li class="footer__item">
                <a href="#">Калькулятор мер поддержки</a>
              </li>
            </ul>
          </div>
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>Площадки</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-white-down"></use>
              </svg>
            </div>
            <ul class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">Предложить площадку</a>
              </li>
              <li class="footer__item">
                <a href="#">Реестр свободных земельных участков</a>
              </li>
              <li class="footer__item">
                <a href="#">Преференциальные территории</a>
              </li>
              <li class="footer__item">
                <a href="#">Площадки с объектами капитального строительства</a>
              </li>
            </ul>
          </div>
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <a href="#">Инвестстандарт</a>
            </div>
          </div>
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>Линия прямых обращений</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-white-down"></use>
              </svg>
            </div>
            <div class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">Получить консультацию</a>
              </li>
              <li class="footer__item">
                <a href="#">Мониторинг обращений</a>
              </li>
              <li class="footer__item">
                <a href="#">Подать заявку на сопровождение проекта</a>
              </li>
              <li class="footer__item">
                <a href="#">Предложить проект</a>
              </li>
            </div>
          </div>
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>ГЧП</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-white-down"></use>
              </svg>
            </div>
            <div class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">Проекты ГЧП</a>
              </li>
              <li class="footer__item">
                <a href="#">Общие сведения</a>
              </li>
              <li class="footer__item">
                <a href="#">Меры поддержки</a>
              </li>
              <li class="footer__item">
                <a href="#">Реестр объектов для ГЧП</a>
              </li>
              <li class="footer__item">
                <a href="#">Контакты ГЧП</a>
              </li>
            </div>
          </div>
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>Документы</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-white-down"></use>
              </svg>
            </div>
            <div class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">Законодательство</a>
              </li>
              <li class="footer__item">
                <a href="#">Корпоративные облигации</a>
              </li>
              <li class="footer__item">
                <a href="#">Презентационные материалы</a>
              </li>
            </div>
          </div>
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>Медиа</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-white-down"></use>
              </svg>
            </div>
            <div class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">Новости</a>
              </li>
              <li class="footer__item">
                <a href="#">Мероприятия</a>
              </li>
              <li class="footer__item">
                <a href="#">Фото и видеоотчет</a>
              </li>
            </div>
          </div>
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <a href="#">Контакты</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <p class="footer__bottom-txt">© Инвестиционный портал Саратовской области</p>
        <a class="footer__bottom-txt" href="#"> Политика конфиденциальности </a>
      </div>
    </div>
  </div>
</footer>
