<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__top">
        <a href="./main.html" class="footer__logo logo">
          <picture>
            <source media="(min-width: 1365px)" srcset="@img/icons/logo.svg" />
            <source media="(max-width: 1366px)" srcset="@img/icons/logo-sm.svg" />
            <img src="@img/icons/logo.svg" alt="logo" />
          </picture>
        </a>
        <div class="footer__info">
          <div class="footer__info-block">
            <p class="footer__info-title">Email</p>
            <a href="mailto:investsaratov@mai.ru" class="footer__info-link">investsaratov@mai.ru</a>
          </div>
          <div class="footer__info-block">
            <p class="footer__info-title">Телефон</p>
            <a href="tel:+78452695262" class="footer__info-link">+7 (8452) 69-52-62</a>
          </div>
          <div class="footer__info-block">
            <p class="footer__info-title">Социальные сети</p>
            <div class="footer__info-socials">
              <a href="#">
                <svg width="20" height="20">
                  <use xlink:href="@img/icons/icons.svg#tg"></use>
                </svg>
              </a>
              <a href="#">
                <svg width="20" height="20">
                  <use xlink:href="@img/icons/icons.svg#odnok"></use>
                </svg>
              </a>
              <a href="#">
                <svg width="20" height="20">
                  <use xlink:href="@img/icons/icons.svg#vk"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="footer__info-block">
            <p class="footer__info-title">Режим работы</p>
            <p class="footer__info-link">с 9:00 до 18:00 пн-пт</p>
          </div>
        </div>
      </div>
      <div class="footer__center">
        <div class="footer__lists">
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>О регионе</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-white-down"></use>
              </svg>
            </div>
            <div class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">О регионе</a>
              </li>
              <li class="footer__item">
                <a href="#">О регионе</a>
              </li>
              <li class="footer__item">
                <a href="#">О регионе</a>
              </li>
              <li class="footer__item">
                <a href="#">О регионе</a>
              </li>
            </div>
          </div>
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>Инвестстандарт</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-white-down"></use>
              </svg>
            </div>
            <div class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">Инвестстандарт</a>
              </li>
              <li class="footer__item">
                <a href="#">Инвестстандарт</a>
              </li>
              <li class="footer__item">
                <a href="#">Инвестстандарт</a>
              </li>
              <li class="footer__item">
                <a href="#">Инвестстандарт</a>
              </li>
            </div>
          </div>
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>Инвестору</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-white-down"></use>
              </svg>
            </div>
            <div class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">Инвестору</a>
              </li>
              <li class="footer__item">
                <a href="#">Инвестору</a>
              </li>
              <li class="footer__item">
                <a href="#">Инвестору</a>
              </li>
              <li class="footer__item">
                <a href="#">Инвестору</a>
              </li>
            </div>
          </div>
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>Площадки</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-white-down"></use>
              </svg>
            </div>
            <div class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">Площадки</a>
              </li>
              <li class="footer__item">
                <a href="#">Площадки</a>
              </li>
              <li class="footer__item">
                <a href="#">Площадки</a>
              </li>
              <li class="footer__item">
                <a href="#">Площадки</a>
              </li>
            </div>
          </div>
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>Медиа</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-white-down"></use>
              </svg>
            </div>
            <div class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">Медиа</a>
              </li>
              <li class="footer__item">
                <a href="#">Медиа</a>
              </li>
              <li class="footer__item">
                <a href="#">Медиа</a>
              </li>
              <li class="footer__item">
                <a href="#">Медиа</a>
              </li>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <p class="footer__bottom-txt">© Инвестиционный портал Саратовской области</p>
        <a class="footer__bottom-txt" href="#"> Политика конфиденциальности </a>
      </div>
    </div>
  </div>
</footer>
