<!--Модалка Написать обращение-->
<div class="modal close-x" data-modal="write-request">
  <div class="modal__inner">
    <div class="modal__content modal-write --main">
      <button type="button" class="modal__close close-x">
        <svg class="close-x">
          <use xlink:href="@img/icons/icons.svg#close-modal"></use>
        </svg>
      </button>
      <div class="modal-write__titles">
        <div class="modal-write__title">Оставьте ваше обращение</div>
        <div class="modal-write__subtitle">Заполните форму, и мы свяжемся с вами в ближайшее время</div>
      </div>
      <div class="modal-write__content">
        <form id="modal-write-form" class="modal-write__form">
          <fieldset class="modal-write__block">
            <div class="modal-write__block-input input">
              <div class="input__head">Наименование компании или ИП</div>
              <div class="input__input">
                <input type="text" placeholder="Введите наименование компании (ИП)" />
              </div>
              <div class="input__hint">Error</div>
            </div>
            <div class="modal-write__block-input input">
              <div class="input__head">ФИО</div>
              <div class="input__input">
                <input type="text" placeholder="Введите ваше ФИО" />
              </div>
              <div class="input__hint">Error</div>
            </div>
          </fieldset>
          <fieldset class="modal-write__block">
            <div class="modal-write__block-input input">
              <div class="input__head">Телефон</div>
              <div class="input__input">
                <input type="tel" placeholder="Введите ваш телефон" />
              </div>
              <div class="input__hint">Error</div>
            </div>
            <div class="modal-write__block-input input">
              <div class="input__head">Электронная почта</div>
              <div class="input__input">
                <input type="email" placeholder="Введите электронную почту" />
              </div>
              <div class="input__hint">Error</div>
            </div>
          </fieldset>
          <fieldset class="modal-write__block">
            <div class="modal-write__block-dropdown dropdown dropdown-def js-dropdown">
              <div class="dropdown__headline">Headline</div>
              <div class="dropdown__header js-dropdown-inner">
                <div class="dropdown__value js-dropdown-value">Dropdown</div>
                <button type="button" class="dropdown__btn">
                  <svg>
                    <use xlink:href="@img/icons/icons.svg#arrow-black-down"></use>
                  </svg>
                </button>
              </div>
              <div class="dropdown__content">
                <div class="dropdown__items">
                  <div class="dropdown__item js-dropdown-item">
                    <input id="item-1" type="radio" name="item" value="item-1" />
                    <label for="item-1">Item-1</label>
                  </div>
                  <div class="dropdown__item js-dropdown-item">
                    <input id="item-2" type="radio" name="item" value="item-2" />
                    <label for="item-2">Item-2</label>
                  </div>
                  <div class="dropdown__item js-dropdown-item">
                    <input id="item-3" type="radio" name="item" value="item-3" />
                    <label for="item-3">Item-3</label>
                  </div>
                  <div class="dropdown__item js-dropdown-item">
                    <input id="item-4" type="radio" name="item" value="item-4" />
                    <label for="item-4">Item-4</label>
                  </div>
                  <div class="dropdown__item js-dropdown-item">
                    <input id="item-5" type="radio" name="item" value="item-5" />
                    <label for="item-5">Item-5</label>
                  </div>
                  <div class="dropdown__item js-dropdown-item">
                    <input id="item-6" type="radio" name="item" value="item-6" />
                    <label for="item-6">Item-6</label>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="modal-write__block">
            <div class="textarea">
              <div class="textarea__head">Текст обращения</div>
              <div class="textarea__textarea">
                <textarea name="" placeholder="Опишите суть вопроса или предложения"></textarea>
              </div>
              <div class="textarea__hint">Error</div>
            </div>
          </fieldset>
          <fieldset class="modal-write__block">
            <div class="input input-file">
              <label for="file-add" class="">
                <svg>
                  <use xlink:href="@img/icons/icons.svg#file-icon"></use>
                </svg>
                <span>Прикрепить файл</span>
              </label>
              <input id="file-add" type="file" />
            </div>
          </fieldset>
        </form>
        <div class="modal-write__btns">
          <button type="button" class="btn btn-def">
            <span>Задать вопрос</span>
          </button>
          <div class="modal-write__btns-desc">
            Заполняя форму обратной связи, вы соглашаетесь с <a href="#">политикой конфиденциальности.</a> 
          </div>
        </div>
      </div>
    </div>
    <div class="modal__content modal-write --success" style="display: none">
      <button type="button" class="modal__close close-x">
        <svg class="close-x">
          <use xlink:href="@img/icons/icons.svg#close-modal"></use>
        </svg>
      </button>
      <div class="modal-write__title">Ваше обращение отправлено</div>
      <button type="button" class="modal-write__btn btn btn-def close-x">
        <span class="close-x">Хорошо</span>
      </button>
    </div>
  </div>
</div>
