.governor {
  background: $blueGradient;
  position: relative;
  overflow: hidden;

  &__container {
    padding: 160px 0;
    display: flex;
    justify-content: flex-end;
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: 0;

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  &__desc {
    width: 680px;
    color: $white;
    position: relative;
  }

  &__desc-titles {
    position: relative;
    margin-bottom: 40px;
    display: flex;
  }

  &__desc-icon {
    position: absolute;
    top: -50px;
    left: 392px;
    @include sizes(278px, 268px);
  }

  &__desc-quote {
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 20px;
  }

  &__desc-managment {
    @extend %flexColumn;
    row-gap: 40px;
  }

  &__desc-gover-name {
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 2px;
  }

  &__desc-gover-job {
    @extend %secondaryTextRegular;
  }
}

@media screen and (max-width: $laptop) {
  .governor {
    &__container {
      padding: 140px 0;
    }

    &__desc {
      width: 580px;
    }

    &__desc-icon {
      left: 350px;
    }

    &__desc-quote {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .governor {
    &__container {
      padding: 97px 0 550px 0;
      justify-content: center;
    }

    &__desc {
      width: 100%;
    }

    &__img {
      left: auto;
    }

    &__desc-titles {
      margin-bottom: 32px;
    }

    &__desc-title {
      max-width: 350px;
    }

    &__desc-icon {
      @include sizes(144px, 139px);
    }

    &__desc-quote {
      line-height: 130%;
      margin-bottom: 32px;
      font-size: 20px;
    }

    &__desc-managment {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__desc-icon {
      top: -27px;
      left: 275px;
    }
  }
}

@media screen and (max-width: $mob) {
  .governor {
    &__container {
      padding: 85px 0 350px;
      justify-content: center;
    }

    &__desc-icon {
      @include sizes(136px, 131px);
      top: -20px;
      left: 190px;
    }

    &__img {
      @include sizes(630px, 420px);
    }

    &__desc-titles {
      margin-bottom: 24px;
    }

    &__desc-quote {
      font-size: 16px;
      line-height: 138%;
      margin-bottom: 20px;
    }

    &__desc-managment {
      row-gap: 24px;
      flex-direction: column;
      align-items: flex-start;
    }

    &__desc-gover-name {
      font-weight: 500;
      margin-bottom: 4px;
    }
  }
}
