.success-hist {
  position: relative;

  &__title {
    width: 575px;
    position: relative;
    z-index: 2;
  }

  &__container {
    @include sizes(100%, 900px);
    padding: 100px 0;
    position: relative;
    z-index: 2;

    & > .container {
      @extend %flexColumn;
      height: 100%;
      justify-content: space-between;
      position: relative;
    }
  }

  &__swiper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &__slide {
    &.swiper-slide-active {
      .success-hist__slide-content {
        @extend %visible;
      }
    }
  }

  &__slide-img {
    @extend %fullSize;
    position: absolute;
    top: 0;
    left: 0;

    img {
      object-fit: cover;
    }
  }

  &__slide-content {
    @extend %flexColumn;
    row-gap: 40px;
    height: 900px;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    padding-bottom: 100px;
  }

  &__slide-txt {
    @extend %subheader;
    color: $white;
    max-width: 575px;
  }

  &__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 362px;
    z-index: 2;

    img {
      object-fit: cover;
    }
  }

  &__slide-content {
    @extend %hidden;
    row-gap: 225px;
    transition:
      visibility 1.5s ease-in-out,
      opacity 1.5s ease-in-out;
  }

  &__slide-items {
    @extend %flexCenterStart;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 48px;
    max-width: 1000px;
  }

  &__slide-item {
    flex-shrink: 0;
    min-width: 440px;
  }

  &__slide-title {
    margin-bottom: 12px;
    color: $white;
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
  }

  &__slide-desc {
    @extend %h3;
    color: $white;
  }

  &__slide-head {
    max-width: 630px;
  }

  &__slide-name {
    margin-bottom: 40px;
    color: $white;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
  }
}

@media screen and (max-width: $laptop) {
  .success-hist {
    &__container,
    &__slide-content {
      height: 850px;
    }

    &__slide-content {
      padding-bottom: 80px;
    }

    &__container {
      padding-bottom: 100px;
    }

    &__slide-content {
      row-gap: 205px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .success-hist {
    &__container {
      padding: 80px 0;
    }

    &__slide-txt {
      width: 500px;
      line-height: 140%;
    }

    &__slide-content {
      padding-bottom: 80px;
    }

    &__slide-items {
      row-gap: 24px;
    }

    &__slide-title {
      margin-bottom: 12px;
      font-size: 20px;
    }

    &__slide-desc {
      font-size: 24px;
    }

    &__slide-content {
      row-gap: 110px;
    }
  }
}

@media screen and (max-width: $mob) {
  .success-hist {
    &__container {
      padding: 70px 0;
    }

    &__container,
    &__slide-content {
      height: 750px;
    }

    &__title {
      width: 100%;
    }

    &__slide-txt {
      width: 100%;
    }

    &__slide-content {
      row-gap: 32px;
      padding-bottom: 152px;
    }

    &__slide-items {
      row-gap: 16px;
    }

    &__slide-title {
      margin-bottom: 8px;
      font-size: 16px;
      font-weight: 400;
    }

    &__slide-desc {
      font-size: 20px;
    }

    &__slide-head {
      max-width: 100%;
    }

    &__slide-name {
      font-size: 16px;
      font-weight: 500;
      line-height: 140%;
      margin-bottom: 32px;
    }

    &__slide-content {
      row-gap: 85px;
      padding-bottom: 140px;
    }
  }
}
