$white: #ffffff;
$grey: #7b7b7b;
$bgDark: #212121;
$bgGreyLight: #f5f6f6;
$black: #2f2f2f;
$red: #e33b32;
$blueGradient: linear-gradient(94deg, #144286 0%, #2d6fd0 100%);
$bluePrimary: #2d6fd0;
$blue-1: #1d49a0;
$blueHover: #2661d4;
$grayDisabled: #e6e6e6;
$greyTxt: #858c95;
$grayDisabledState: #b5b5b5;
$inputGreyStroke: #dee2e7;
$textIconsLightBaseMain: #323539;
$textIconsLightBaseSecond: #858c95;
$backgroundLightBaseSecond: #f8f9fb;
$stateDisabled: #b1bbc7;
$backgroundBlue: #f4f6fb;
