%fullSize {
  width: 100%;
  height: 100%;
}

//-----Flex----------//
%flexColumn {
  display: flex;
  flex-direction: column;
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flexCenterBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%flexCenterEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

%flexEndCenter {
  display: flex;
  align-items: end;
  justify-content: center;
}

%flexCenterStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

%flexStartBetween {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
//-------------------------//
