$transitionColor: color 0.3s ease;
$transitionBg: background 0.3s ease;
$transitionBgCol: background-color 0.3s ease;
$transitionVisibility: visibility 0.3s ease;
$transitionOpacity: opacity 0.3s ease;
$transitionIndex: z-index 0.3s ease;
$transitionOverflow: overflow 0.3s ease;
$transitionTransform: transform 0.3s ease;
