$transitionColor: color 0.5s ease;
$transitionBg: background 0.5s ease;
$transitionBgCol: background-color 0.5s ease;
$transitionVisibility: visibility 0.5s ease;
$transitionOpacity: opacity 0.5s ease;
$transitionIndex: z-index 0.5s ease;
$transitionOverflow: overflow 0.5s ease;
$transitionTransform: transform 0.5s ease;
$transitionHeight: height 0.5s ease;
$transitionPadding: padding 0.5s ease;
$transitionFontSize: font-size 0.5s ease;
