.btn {
  border-radius: 4px;
  width: fit-content;
  transition: $transitionBg, $transitionBorder;
  padding: 16px 32px;

  span {
    @extend %medium18;
    transition: $transitionColor;
  }

  svg {
    @include sizes(20px, 20px);
  }

  &:disabled {
    cursor: default;
  }

  &:not(:disabled):active {
    transition-duration: 0s;

    span,
    svg {
      transition-duration: 0s;
    }
  }
}

.btn--icon {
  @extend %flexCenterBetween;
  padding: 12px 20px;
  column-gap: 4px;
}

.btn-def {
  background: $blueGradient;

  span {
    color: $white;
  }

  svg use {
    stroke: $white;
  }

  &:disabled {
    background: $grayDisabled;

    span {
      color: $greyTxt;
    }

    svg use {
      stroke: $greyTxt;
    }
  }

  @media screen and (min-width: $tablet) {
    &:not(:disabled):hover {
      background: $bluePrimary;
    }
  }

  &:not(:disabled):active {
    background: $blue-1;
  }
}

.btn-def--white {
  background: $white;

  span {
    color: $black;
  }

  &:disabled {
    background: $grayDisabled;

    span {
      color: $greyTxt;
    }
  }

  @media screen and (min-width: $tablet) {
    &:not(:disabled):hover {
      background: $bluePrimary;

      span {
        color: $white;
      }
    }
  }

  &:not(:disabled):active {
    background: $blue-1;

    span {
      color: $black;
    }
  }
}

.btn-sec {
  background: transparent;
  border: 1.2px solid $bluePrimary;

  span {
    color: $bluePrimary;
  }

  svg use {
    stroke: $bluePrimary;
  }

  &:disabled {
    border-color: $grayDisabledState;

    span {
      color: $grayDisabledState;
    }

    svg use {
      stroke: $grayDisabledState;
    }
  }

  @media screen and (min-width: $tablet) {
    &:not(:disabled):hover {
      border-color: $blueHover;

      span {
        color: $blueHover;
      }
    }
  }

  &:not(:disabled):active {
    border-color: $blue-1;

    span {
      color: $blue-1;
    }

    svg use {
      stroke: $blue-1;
    }
  }
}

.btn-sec--white {
  border: 1.2px solid $white;

  span {
    color: $white;
  }

  &:disabled {
    border-color: $grayDisabledState;

    span {
      color: $grayDisabledState;
    }
  }

  @media screen and (min-width: $tablet) {
    &:not(:disabled):hover {
      border-color: $bluePrimary;

      span {
        color: $bluePrimary;
      }
    }
  }

  &:not(:disabled):active {
    border-color: $blue-1;

    span {
      color: $blue-1;
    }
  }
}

@media screen and (max-width: $tablet) {
  .btn {
    padding: 12px 28px;
  }
}

@media screen and (max-width: $mob) {
  .btn {
    width: 100%;

    span {
      font-size: 16px;
    }
  }
}
