.dropdown {
  position: relative;
  width: 100%;

  &__btn {
    transition: $transitionTransform;

    svg {
      @include sizes(20px, 20px);
      stroke: $textIconsLightBaseSecond;
    }
  }

  &__headline {
    color: $textIconsLightBaseMain;
  }

  &__header {
    @extend %flexCenterBetween;
    transition: $transitionBorder, $transitionBoxShadow, $transitionBorderRadius;
  }

  &__content {
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
    background: $white;
    @extend %flexColumn;
    transition: all 0.5s ease;
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: 4px;
    opacity: 0;
    visibility: hidden;
    padding: 4px 0;
    height: 160px;
    max-height: 0;
    width: 100%;
  }

  &__items {
    max-height: 160px;
    overflow-y: auto;
    width: 100%;
    @include noScrollLine();
  }

  &__item {
    cursor: pointer;
    padding: 10px 16px;

    input {
      display: none;
    }

    input:checked + label {
      color: $bluePrimary;
    }

    label {
      transition: $transitionColor;
      @extend %secondaryTextRegular;
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 100%;
      overflow: hidden;
    }
  }

  &__value {
    color: $greyTxt;
    transition: $transitionColor;
  }

  &.--active {
    .dropdown {
      &__content {
        opacity: 1;
        max-height: 160px;
        z-index: 10;
        visibility: visible;
      }

      &__btn {
        transform: rotate(180deg);
      }
    }
  }

  &.--filled {
    .dropdown {
      &__header {
        svg {
          stroke: $black;
        }
      }

      &__value {
        color: $black;
      }
    }
  }
}

.dropdown-def {
  &.--active {
    .dropdown {
      &__header {
        border: 1px solid $bluePrimary;
        background: $white;
        box-shadow: 0px 0px 0px 3px #b2d5ff;
        border-radius: 4px;
      }

      &__value {
        color: $black;
      }

      &__btn svg {
        stroke: $black;
      }
    }
  }

  &.--filled {
    .dropdown {
      &__header {
        border-radius: 1px;
        border: 1px solid $inputGreyStroke;
        background-color: $backgroundLightBaseSecond;
      }

      &__btn svg {
        stroke: $black;
      }
    }

    &.--active {
      .dropdown__header {
        border: 1px solid $bluePrimary;
        border-radius: 4px;
      }
    }
  }

  .dropdown {
    &__headline {
      margin-bottom: 8px;
    }

    &__header {
      column-gap: 12px;
      border-radius: 4px;
      padding: 11px 14px;
      border: 1px solid $inputGreyStroke;
      background: $white;
      border-radius: 4px;
    }

    &__content {
      margin-top: 10px;
      border-radius: 4px;
      border: 1px solid $inputGreyStroke;
    }

    &__value {
      @extend %regular16;
    }
  }
}

// .dropdown-def--S {
//   .dropdown {
//     &__headline {
//       @extend %mediumInterS;
//       margin-bottom: 10px;
//     }

//     &__header {
//       padding: 12px 14px;
//     }

//     &__value {
//       @extend %regularInterS;
//     }
//   }
// }

// .dropdown-def--M {
//   .dropdown {
//     &__headline {
//       @extend %mediumInterM;
//       margin-bottom: 12px;
//     }

//     &__header {
//       padding: 11px 16px;
//     }

//     &__value {
//       @extend %regularInterM;
//     }
//   }
// }

// .dropdown-sec {
//   .dropdown {
//     &__header {
//       column-gap: 4px;
//       border: 0;
//       background-color: 0;
//       justify-content: flex-end;
//       width: 100%;
//     }

//     &__value {
//       @extend %semiboldInterM;
//     }

//     &__content {
//       border-radius: 1px;
//       border: 1px solid $strokeLightBase;
//       background: $backgroundLightBaseSecond;
//     }
//   }

//   &.active {
//     .dropdown {
//       &__value {
//         color: $black;
//       }
//     }
//   }
// }
