.dropdown {
  position: relative;
  width: 100%;
  cursor: pointer;

  &__btn {
    transition: $transitionTransform;
    @include sizes(20px, 20px);

    svg {
      stroke: $textIconsLightBaseSecond;
      transition: $transitionTransform;
    }
  }

  &__headline {
    color: $textIconsLightBaseMain;
  }

  &__header {
    @extend %flexCenterBetween;
    transition: $transitionBorder, $transitionBoxShadow, $transitionBorderRadius;
  }

  &__content {
    @extend %hidden;
    @extend %flexColumn;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
    background: $white;
    transition: all 0.5s ease;
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: 4px;
    padding: 4px 0;
    height: 160px;
    max-height: 0;
    width: 100%;
  }

  &__items {
    @include noScrollLine();
    max-height: 160px;
    overflow-y: auto;
    width: 100%;
  }

  &__item {
    cursor: pointer;
    padding: 10px 16px;

    input {
      display: none;
    }

    input:checked + label {
      color: $bluePrimary;
    }

    label {
      @extend %secondaryTextRegular;
      transition: $transitionColor;
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 100%;
      overflow: hidden;
      color: $black;
    }
  }

  &__value {
    color: $greyTxt;
    transition: $transitionColor;
  }

  &.--active {
    .dropdown {
      &__content {
        @extend %visible;
        max-height: 160px;
        z-index: 10;
      }

      &__btn svg {
        transform: rotate(180deg);
      }
    }
  }
}

.dropdown-def {
  &.--active {
    .dropdown {
      &__header {
        border: 1px solid $bluePrimary;
        background: $white;
        box-shadow: 0px 0px 0px 3px #b2d5ff;
        border-radius: 4px;
      }

      &__value {
        color: $black;
      }

      &__btn svg {
        stroke: $black;
      }
    }
  }

  .dropdown {
    &__headline {
      @extend %secondaryTextRegular;
      margin-bottom: 8px;
    }

    &__header {
      column-gap: 12px;
      border-radius: 4px;
      padding: 11px 14px;
      border: 1px solid $inputGreyStroke;
      background: $white;
      border-radius: 4px;
    }

    &__content {
      margin-top: 10px;
      border-radius: 4px;
      border: 1px solid $inputGreyStroke;
    }

    &__value {
      @extend %regular16;
    }
  }
}

.dropdown-sec {
  .dropdown {
    &__header {
      column-gap: 4px;
      border: 0;
      background-color: 0;
      justify-content: flex-end;
      width: 100%;
    }

    &__content {
      border-radius: 1px;
    }
  }

  &.active {
    .dropdown {
      &__value {
        color: $black;
      }
    }
  }
}
