.textarea {
  width: 100%;

  &__head {
    @extend %mediumTextRegular;
    margin-bottom: 8px;
    color: $black;
  }

  &__hint {
    @extend %secondaryTextRegular;
    @extend %hidden;
    margin-top: 8px;
    color: $greyTxt;
    transition: $transitionColor;
    transition:
      $transitionColor,
      $transitionOpacity,
      $transitionBoxShadow,
      $transitionVisibility,
      margin 0.5s ease;
    margin-top: 0;
    height: 0;
  }

  &__textarea {
    @include sizes(100%, 112px);
    cursor: pointer;
    padding: 11px;
    border-radius: 4px;
    background-color: $white;
    @extend %flexCenterStart;
    column-gap: 8px;
    border-radius: 4px;
    border: 1px solid $inputGreyStroke;
    transition: $transitionBorder, $transitionBoxShadow;

    textarea,
    textarea::placeholder {
      @extend %regular16;
      transition: $transitionColor;
    }

    textarea {
      @include noScrollLine();
      @extend %fullSize;
      color: $black;
      font-weight: 500;
      border: 0;
      background-color: transparent;
      color: $black;

      &::placeholder {
        color: $greyTxt;
      }

      &:disabled {
        textarea,
        textarea::placeholder {
          color: $stateDisabled;
        }

        & + button svg {
          stroke: $stateDisabled;
        }
      }
    }
  }

  &.--error {
    .textarea {
      &__hint {
        @extend %visible;
        color: $red;
        margin-top: 8px;
        height: auto;
      }

      &__textarea {
        border-radius: 4px;
        // border-color: $red;
        // box-shadow: 0px 0px 0px 3px #fddddc;

        textarea,
        textarea::placeholder {
          color: $red;
        }
      }
    }
  }

  &.--disabled {
    .textarea {
      &__textarea {
        border-radius: 4px;
        border-color: $inputGreyStroke;
      }

      textarea,
      textarea::placeholder {
        color: $stateDisabled;
      }

      &__head,
      &__hint {
        color: $stateDisabled;
      }
    }
  }

  &.--focus {
    .textarea {
      &__textarea {
        border-radius: 4px;
        border-color: $bluePrimary;
        box-shadow: 0px 0px 0px 3px #dcedff;
        color: $black;
      }
    }

    &.--error {
      .textarea {
        &__textarea {
          border-color: $red;
          box-shadow: 0px 0px 0px 3px #fddddc;
        }
      }
    }
  }
}
