*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 0.5208335vw;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  color: $black;
  background-color: $bgGreyLight;
  background: $bgGreyLight;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
}

textarea {
  resize: none;
}

.btn {
  min-width: auto;
  min-height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: unset;
  padding: 0;
  color: unset;
  height: auto;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  max-width: none;
  font: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.title {
  @extend %h1;
}

.subtitle {
  @extend %h2;
  color: $white;
}

.hidden {
  overflow: hidden;
}

.container {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 40px;
}

.section {
  margin-bottom: 160px;
}

@media screen and (max-width: $laptop) {
  .container {
    padding: 0 93px;
  }

  .section {
    margin-bottom: 140px;
  }
}

@media screen and (max-width: $tablet) {
  .container {
    padding: 0 40px;
  }

  .section {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: $mob) {
  .container {
    padding: 0 16px;
  }

  .section {
    margin-bottom: 80px;
  }
}
