// Libs
@import './libs/swiper.scss';
@import './libs/normalize.scss';

// General
@import './general/breakpoints.scss';
@import './general/colors.scss';
@import './general/transitions.scss';
@import './general/mixins.scss';
@import './general/extends.scss';
@import './general/_texts.scss';

// Other
@import './fonts.scss';
@import './set.scss';

// Elements
@import './elements/btns.scss';
@import './elements/slider-navigation.scss';
@import './elements/inputs.scss';
@import './elements/dropdown.scss';
@import './elements/textarea.scss';
@import './elements/boxs.scss';
@import './elements/simplebar.scss';

// Blocks
@import './blocks/footer.scss';
@import './blocks/modals.scss';
@import './blocks/header.scss';

// Pages
@import './pages/main/index.scss';
// @import './pages/auth-reg/index.scss';
